.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  position: relative;
}

.login-form h2 {
  margin-bottom: 10px;
}

.login-form div {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
}

.login-form input {
  width: 50%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 30%;
  height : 43%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position : absolute;
  top:46%;
  left:60%;
}
  